#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

#root:has(#home) {
    max-width: unset;
    margin: 0px;
    /* padding: 2rem; */
    text-align: center;
    width: 100vw;
    overflow-x: hidden;
}

.animate-on-scroll {
  opacity: 0;
  transform: scale(0.02);
  transition: opacity 0.5s, transform 1.5s;
}

.animate-on-scroll1 {
  opacity: 0;
  transform: scale(0.02);
  transition: opacity 0.5s, transform 1.5s;
  animation-delay: 1.5s;
}

.animate-on-scroll2 {
  opacity: 0;
  transform: scale(0.02);
  transition: opacity 0.5s, transform 1.5s;
  animation-delay: 3.0s;
}

.animate-on-scroll.animate {
  opacity: 1;
  transform: scale(1);
}

.animate-on-scroll1.animate {
  opacity: 1;
  transform: scale(1);
  animation-delay: 1.5s;
}
.animate-on-scroll2.animate {
  opacity: 1;
  transform: scale(1);
  animation-delay: 3.0s;
}

/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 2% 2%;
  text-align: center;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.card:hover {
  background-color: aliceblue;
}
